@use './Layout.scss' as Layout;
@use './Color.scss' as Color;

* {
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: italic;
}

body {
  background: Color.dark(Color.$black);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: Color.$grey;
  min-width: 480px;
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    color: Color.light(Color.$grey);
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  width: 100%;
}