@use 'sass:color';

$accent: #692d91;
$text: #abb2bf;

$black: #282c34;
$red: #e06c75;
$green: #98c379;
$yellow: #e5c07b;
$blue: #61Afef;
$magenta: #c678dd;
$cyan: #56b6c2;
$grey: #abb2bf;

@function less($color) {
  @return color.scale($color, $alpha: -80%);
}

@function light($color) {
  @return color.scale($color, $lightness: 20%, $saturation: -20%);
}

@function dark($color) {
  @return color.scale($color, $lightness: -20%, $saturation: 20%);
}