@use './Fonts.scss' as Fonts;
@use './Layout.scss' as Layout;

@mixin h() {
  display: block;
  margin: 0
}

h1 {
  @include h();
  @include Layout.full-width();
  @include Fonts.fs(7);
  line-height: 1;
}